.main {
    position: relative;
    left: 500px;
    top: 30px;

    text-align: center;

    height: 200px;
    width: 50%;
    background-color: powderblue;
}

.textcolor{
    color:#F25C27;
    font-size: 15px;
}
